.section {
  min-height: calc(100vh - 51px);
  background-color: #1A1A2E;
  width: 100%;
  position: relative;
}

.yellow-shadow, .hero .container .sub-title {
  -webkit-box-shadow: 10px 10px 0 0 #F2A365;
          box-shadow: 10px 10px 0 0 #F2A365;
}

.topic {
  font-size: clamp(16px, 7vmin, 28px);
  color: #F2A365;
  margin-bottom: 1em;
}

.hero {
  position: relative;
  min-height: calc(100vh - 51px);
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 70vh;
}

.hero .container .name-main {
  font-size: clamp(32px, 8vmin, 120px);
  font-family: "Quicksand", sans-serif;
  color: #F2A365;
}

.hero .container .sub-title {
  padding: 1em 2em;
  color: #EEEEEE;
  font-weight: 400;
  font-size: clamp(21px, 4vmin, 32px);
  width: clamp(300px, 90vw, 700px);
  background-color: #30475E;
  -webkit-transition: 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transition-property: -webkit-transform box-shadow;
  transition-property: -webkit-transform box-shadow;
  transition-property: transform box-shadow;
  transition-property: transform box-shadow, -webkit-transform box-shadow;
}

.hero .container .sub-title:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 15px 15px 0 0 #F2A365;
          box-shadow: 15px 15px 0 0 #F2A365;
}

.hero svg {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 2vh;
  animation: move 1500ms ease alternate-reverse infinite;
}

.hero svg:hover {
  cursor: pointer;
}

@-webkit-keyframes move {
  to {
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
  }
}

@keyframes move {
  to {
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
  }
}

@media screen and (max-width: 700px) {
  .hero .container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 20vh;
    height: 50vh;
  }
  .hero .container .name-main {
    font-size: clamp(32px, 9vmin, 120px);
  }
  .hero .container .sub-title {
    padding: .5em 1em;
  }
}
